<h1>全ての私の言葉</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th class="main">私のお言葉一覧</th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.content %></td>
    <td><%= link_to '内容を確認する', task_path(task.id) %></td>
    <td><%= link_to "お言葉を編集する", edit_task_path(task.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to 'お言葉を削除する', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しくお言葉を入力する', new_task_path %>
